*.o
*.a
*.so
*.pyc
*.*~
*unvmed
*_test
*_ex
*_fio
*_info
*_identify
*_page
*_features
*_dd
*_read
*_write
*_scan
*_prl
*_topo
*_pecc
*_wrc
*_wrs
*_analyze
*_validate
*/out/
*/html/
fio/gfio
fio/t/axmap
fio/t/fio-btrace2fio
fio/t/fio-dedupe
fio/t/fio-genzipf
fio/t/fio-verify-state
fio/t/gen-rand
fio/t/ieee754
fio/t/lfsr-test
fio/t/stest
