*.o
*.a
*.so
*.pyc
*.*~
src/.model
src/unvmed
test/unvme/*_test
test/unvme/unvme_info
test/unvme/unvme_wrc
test/unvme/unvme_get_log_page
test/unvme/unvme_get_features
test/nvme/nvme_identify
test/nvme/nvme_get_log_page
test/nvme/nvme_get_features
test/nvme/nvme_set_features
test/out/
ioengine/*_fio
fio/t/axmap
fio/t/fio-btrace2fio
fio/t/fio-dedupe
fio/t/fio-genzipf
fio/t/fio-verify-state
fio/t/gen-rand
fio/t/ieee754
fio/t/lfsr-test
fio/t/stest
html/
